/*body*/
*{margin:0px;padding:0px;}
h1,h2,h3,h4,h5,ul,li{margin:0px;padding:0px;}
.layout{width:auto;margin:0 auto;}
body{font-family:Myriad Pro Regular; width: 1300px;}
.left{float:left;}
.right{float:right}
.header{overflow:hidden;}
.inline-block{display:inline-block;}
/*body*/




/*head*/
/*label_head*/
.background_head{
	height:700px;
	width:100%;
	background:url(../images/2.png) center repeat-x;
	min-width: 500px;
}
.label_head{
	position:relative;
	margin:20px;
	height:100px;
	border-bottom:1px solid #ddd;
	overflow: hidden;
}
#label_head_label{
	float:left;
	margin:10px;
	height:80px;
	display:inline-block;
}
#label_head_title{
	float:left;
	margin-top:30px;
	height:29px;
	display:inline-block;
}
.tags_row{
	display:inline-block;
	float:left;
	margin-top:42px;
	margin-left:28%;
}
.tags_row ul{
	display:inline-block;
}
.tags_row li{
	display:inline-block;
	padding:14px;
	font-size: 16px;
}
.tags_row a{
	text-decoration:none;
	padding:6px;
	color:#fff;
}
.tags_row span{
	text-decoration:none;
	padding:6px;
	color:#fff;
	cursor:Pointer;
}
.tags_row a:hover{
	border-bottom: 1px solid #1dde85;
}
.tags_row span:hover{
	border-bottom: 1px solid #1dde85;
	cursor:Pointer;
}
.tags_row .current a{
	border-bottom: 1px solid #1dde85;
}
.tags_row .current span{
	border-bottom: 1px solid #1dde85;
}
#jump_to_video{
	display:inline-block;
	font-size:16px;
}
#jump_to_work{
	display:inline-block;
	font-size: 16px;
}
/*label_head*/
/*athena_head*/
.athena_head{
	position:relative;
	margin:20px auto;
}
.athena_head img{
	float:left;
	margin-left:15%;
	height:430px;
}
.athena_head_intro{
	float:left;
	width:52%;
	height:290px;
	margin:10% 6%;
	overflow:hidden;
	color:#fff;
}
#athena_head_intro_1{
	font-size: 32px;
	font-weight: black;
	text-align: center;
}
#athena_head_intro_2{
	font-size:13px;
	margin-top:20px;
	text-align: center;
}
/*athena_head*/
/*head*/


/*home*/
#tagContent0{
	margin:30px 7%;
}
/*how it works*/
.athena_work{
	background-color:#ddd;
	height:400px;
}
.athena_work_title{
	margin-top: 60px;
	margin-bottom:10px;
	text-align:center;
	font-size: 25px;
	color:#f8356d;
}
.vedio_frame{
	display: block;
	/*margin:20px 11%;*/
}
.vedio_frame video{
	margin-top:5px;
	width:100%;
}
.vedio_frame button{
	text-align:center;
	margin:10px auto;
	background-color:#1dde85;
	font-size: 15px;
	color:#fff;
	padding:5px;
}
.athena_work_intro{
	text-align:center;
	font-size:18px;
	color:#999;
	margin-top:20px;
}
.athena_work_lay{
	margin-top:20px;
}
.athena_work_lay li{
	display:inline;
}
.athena_work_lay img{
	width:32%;
	margin:5px;
	display:inline;
}
/*how it works*/


/*team athena*/
.team_athena{
	margin:10px auto;
	overflow:hidden;
	display:block;
}
.team_title{
	color:#f8356d;
	text-align:center;
	font-size: 25px;
	margin-top:50px;
	margin-bottom:10px;
}
.team_athena img{
	height:500px;
}
.team_more{
	display:block;
	text-decoration: none;
	margin:20px 40%;
	width:240px;
	font-size: 18px;
	color:#999;
	border-bottom:1px solid #999;
}
/*team athena*/

/*proposal*/
#tagContent1{
	margin:50px 15%;
	height:1000px;
	border-bottom:50px solid #333;
	border-top:50px solid #333;
}
/*proposal*/

/*timeline*/

.athena_timeline{
	margin:20px;
	border:3px solid #666;
}
.athena_timeline img{
	width:100%;
}

/*timeline*/

/*proposal*/
#tagContent3{
	
}
/*proposal*/


/*say hi*/
.say_hi{
	display:block;
	margin:0px;
	height:400px;
	background-color:#999; 
	overflow:hidden;
}
.say_hi p{
	text-align:center;
	color:#fff;
	font-size: 25px;
	margin-top:30px;
}
.frm_email{
	width:70%;
	margin:30px 17%;
}
#name_send{
	margin-left:0;
	width:48%;
	height:23px;
	font-size: 15px;
	padding-left:5px;
	color:#999;
	display:inline-block;
}
#email_send{
	margin-left:8px;
	width:48%;
	font-size: 15px;
	padding-left:5px;
	height:23px;
	color:#999;
	display:inline-block;
}
#message_send{
	margin-top:20px;
	width:100%;
	font-size: 15px;
	padding-left:5px;
	color:#999;
	height:150px;
}
#button_send{
	text-align:center;
	margin:15px auto;
	background-color:#1dde85;
	font-size: 15px;
	color:#fff;
	padding:5px;
}
/*say hi*/




/*foot*/

/*foot*/